

        <%- include('../partials/navbar') %>
<body>
    

    <section>
        <% assassins.forEach(function(assassins) { %>

        <div class="container py-3">
            <div class="card">
            <div class="row ">
             
                    <img class="assassinIMG" src= '<%= assassins.photo %>'/>
           
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">

                        <h1 class="card-title"><%= assassins.full_name || 'Unknown'%></h1>
                        <h4 class="card-subtitle"><%= assassins.code_name || assassins.full_name%></h4>
                        
                        <p class="card-text">
                                CONTACT INFO: <%= assassins.contact_info %><br>
                                AGE: <%= assassins.age %><br>
                        </p>
                        <p class="card-text">
                                WEAPON: <%= assassins.weapon %><br>
                                PRICE: <%= assassins.price %><br>
                                RATING: <%= assassins.rating %><br>
                                KILLS: <%= assassins.kills %><br>
                                OPEN CONTRACTS: <%= assassins.open_contracts %><br>
                        </p>
                    </div>

                    <div id="buttons">
                        <a href="editAssassin/<%=assassins.assassins_id %>"><button class="editButton">Edit Assassin</button></a>
                        <a href="assassins"><button class="deleteButton">Delete Assassin</button></a>    
                    </div>

                </div>
        
            </div>
            </div>
        </div>
        <% })%>

    </section>

    <a href="newAssassin"> 
    <button id="newAssassinButton">Add New Assassin</button>
    </a>

</body>
</html>





