<%- include('../partials/navbar') %>
<title>Contracts</title>

<body>
    <a href="/newContract"> 
        <button id="newButton">Create Contract</button>
    </a>

    <a href="/activeContracts"> 
        <button id="newButton">Active Contracts</button>
    </a>

    <a href="/completedContracts"> 
        <button id="newButton">Completed Contracts</button>
    </a>

   <section class="gallery-block cards-gallery">
       
    <div class="container">
        <div class="heading">
            <h2>Contracts
            <h6>Number of contracts: 
                <%= contracts.length %> </h6>
            </h2>
        </div>

        <div class="row">
                <% contracts.forEach(function(contracts) { %>

            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox">
                        <img class="targetIMG" src= '<%= contracts.target_photo %>'/>
                    </a>
                    <div class="card-body">
                        <a href="/contractProfile/<%=contracts.contract_id%>">
                        <h5><%= contracts.target_name %></h5>
                        <h6>Client: <%= contracts.client_name %></h6>

                        <p class="text-muted card-text"> 
                                LOCATION: <%= contracts.target_location %><br>
                                BUDGET: <%= contracts.budget %><br>
                                SECURITY LEVEL: <%= contracts.target_security %><br>
                                Complete: <%= contracts.completed %>
                        </p>

                        <div id="buttons">
                            <a href="/editContract/<%=contracts.contract_id %>">
                                <button class="editButton">Edit</button>
                            </a>
                            <form 
                                action="/deleteContract/<%=contracts.contract_id%>?_method=delete" 
                                method="POST" 
                                style="display: inline-block"
                                ><button class="deleteButton">Delete</button>
                            </form>
                            
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <% })%>
	    </div>
	</div>
    </section>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
    </script>
</body>
</html>


    



