<%- include('../partials/navbar') %>
<title>Edit Contract</title>


<link href="css/titatoggle-dist.css" rel="stylesheet">
<body>
<div class="container" id="input-form">
        <h2>Edit Contract</h2>

    <form method="POST" action="/editContract/<%=contracts[0].contract_id %>?_method=patch" >
        <div class="form-group">
            <label for="photo">Target's Photo</label>
            <input 
                name="photo" 
                type="text" 
                class="form-control" 
                id="photo" 
                placeholder="Photo URL" 
                value="<%= contracts[0].target_photo %>"
            >
        </div>    

        <div class="form-group">
            <label for="target_name">Target Name</label>
            <input 
                name="target_name" 
                type="text" 
                class="form-control" 
                id="targetName" 
                placeholder="Enter Target Name" 
                value="<%= contracts[0].target_name%>"
            >
        </div>

        <div class="form-group">
            <label for="target_location">Target Location</label>
            <input 
                name="target_location" 
                type="text" 
                class="form-control" 
                id="target_location" 
                placeholder="Enter Code Name" 
                value="<%= contracts[0].target_location %>"
            >
        </div>

        <div class="form-group">
            <label for="target_security">Target Security</label>
            <input 
                name="target_security" 
                type="text" 
                class="form-control" 
                id="target_security" 
                placeholder="Target Security" 
                required="true" 
                value="<%= contracts[0].target_security %>"
            >
        </div>

        <div class="form-group">
            <label for="client_name">Client Name</label>
            <input 
                name="client_name" 
                type="text" 
                class="form-control" 
                id="client_name" 
                placeholder="Enter Email" 
                value="<%= contracts[0].client_name %>"
            >
        </div>
        
        <div class="form-group">
            <label for="budget">Budget</label>
            <input 
                name="budget" 
                type="integer" 
                class="form-control" 
                id="budget" 
                placeholder="Budget" 
                value="<%= contracts[0].budget %>"
            >
        </div>     

        <div class="form-group">
                <label for="completed">Completed</label>
                <input 
                    name="completed" 
                    type="boolean" 
                    class="form-control" 
                    id="completed" 
                    placeholder="True or False" 
                    value="<%= contracts[0].completed %>"
                >
            </div> 


        <div class="clearfix"></div>

        <button 
            type="submit" 
            class="btn btn-info btn-lg btn-responsive" 
            id="search"
        > <span class="glyphicon glyphicon-search"></span> Apply Changes</button>
    
    </form>
</div>

</body>
</html>
